@import './reset.css';
@import './pretendard.css';

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  font-family: 'pretendard';
}

body {
  overflow: hidden;
  font-family: 'pretendard';
  font-size: 1.4rem;
  background-color: #f2f2f2;
}

.ir-text {
  text-indent: 105%;
  white-space: nowrap;
  overflow: hidden;
}
