@import './reset.css';
@import './pretendard.css';

body {
  overflow: hidden;
  font-family: 'pretendard';
  background-color: #aaa;
}

* {
  box-sizing: border-box;
  font-family: 'pretendard';
}

html {
  font-size: 10px;
}

.ir-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
